<title>Finca El Molar - {{{__ 'our wines'}}} | Finca El Molar 2013</title>
<div id="bg-finca-detail" class="bg--full-fixed bg-wine-detail animated fadeIn"></div>
<section class="animated fadeIn" id="wine-detail">
{{> button_menu}}
  <div class="wine__detail animated fadeInLeft">
    <img src="/img/elmolar.png" class="hidden" alt="" />
      <div class="portable-text--center desk-text--left" id="finca-detail">
        <div class="wine__title inline u-11/12 u-desk-pl">
          <h2 class="inline">Finca el molar 2013 <hr class="line line--left line--thick green"></h2>
        </div>
        <div class="wine__description inline u-11/12 u-desk-pl">
          <h3>Merlot, Cabernet Sauvignon, Syrah</h3>
        </div>
        <div class="inline u-11/12 u-8/12-desk wine__info mb+ u-desk-pl">

          <p class="mb+">{{{__ 'finca origin'}}}</p>
            <div class="fb-share-button" data-href="" data-layout="box_count"></div>

          <table class="mb+" border="0">
            <tr>
              <td><span>{{{__ 'wines variety'}}}</span></td>
              <td>40% Merlot, 30% Cabernet Sauvignon, 30% Syrah</td>
            </tr>
            <tr>
              <td><span>{{{__ 'wines apellation'}}}</span></td>
              <td>Manchuela</td>
            </tr>
            <tr>
              <td><span>{{{__ 'wines vintage'}}}</span></td>
              <td>2013</td>
            </tr>
            <tr>
              <td><span>{{{__ 'wines date'}}}</span></td>
              <td>{{{__ 'finca date'}}}</td>
            </tr>
            <tr>
              <td><span>{{{__ 'wines maceration'}}}</span></td>
              <td>{{{__ 'finca maceration'}}}</td>
            </tr>
            <tr>
              <td><span>{{{__ 'wines aging'}}}</span></td>
              <td>{{{__ 'finca aging'}}}</td>
            </tr>
            <tr>
              <td><span>{{{__ 'wines alcohol'}}}</span></td>
              <td>14%</td>
            </tr>
          </table>
          <!--<h3 class="inline section__subheading">En la bodega<hr class="line line--left line--thick brown"></h3>
          <p class="mb+">Double hand-sorted, vinified according to traditional Burgundian winemaking techniques with indigenous fermentation and full indigenous malolactic conversion. After 18 months aging in French oak, six barrels were selected, blended with no fining and minimal filtration prior to gentle, gravity-fed bottling.</p>

          <p>Produccion:<strong> 1668 bottles</strong></p>-->
          <h3 class="inline section__subheading">{{{__ 'wines glass'}}}<hr class="line line--left line--thick red"></h3>
          <p class="">{{{__ 'finca glass'}}}</p>
        </div>
        <div class="inline u-10/12 u-lap-and-up-pl">
          <h3 class="section__subheading mb">{{{__ 'more info'}}}</h3>
          <a href="mailto: info@elmolarderus.com">
            <div class="btn btn--small btn--green mb"><i class="fa fa-envelope"></i> info@elmolarderus.com</div>
          </a>
          <a href="tel:+34647075371" class="u-lap-and-up-pl">
            <div class="btn btn--small btn--green mb"><i class="fa fa-mobile"></i> +34 647 07 53 71</div>
          </a>
        </div>
          <div class="text--center mb+">

          <h3 class="inline section__subheading">{{{__ 'wines other'}}}<hr class="line line--left line--thick blue"></h3>
          </div>
<div class="layout animated wines__list fadeInUp">
    <ul class="list-inline list-bare">
{{> quantum_card}}
{{> quantumice_card}}


    </ul>
  </div>
  </div>
  </div>
</section>
