<title>Finca El Molar | {{{__ 'title'}}}</title>
<div class="menu-container">
  <div class="layout">
    <div id="logo" class="layout__item u-4/12-lap-and-up pb-">
      <div class="vertical--middle">
        <div class="text--center">
        <h1 class="">
          <img class="logo-img" src="/img/logo.png" alt="El Molar de Rus" />
          finca el molar
        </h1>
        <h2 class="tagline text--center">{{__ "tagline"}}</h2>
          <div id="lang-bar">
            <a href="/en"><span>English</span></a>
            <a href="/es"><span class="pl">Español</span></a>
          </div>
        </div>
      </div>
    </div>
    <div id="contact" class="layout__item u-3/12-lap-and-up pb u-lap-and-up-pb0 u-lap-and-up-pl0 animated fadeIn">
      <div class="vertical--middle">
        <div class="contact text--center">
          <h2>{{{__ 'contact'}}}</h2>
          <div class="social layout layout--center mb">
            <a href="https://www.facebook.com/pages/Finca-El-Molar/146301258753835" title="Facebook">
              <div class="layout__item u-2/12 u-6/12-lap text--center">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x facebook"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </div>
            </a>
            <a href="https://twitter.com/elmolarderus" title="Twitter">
              <div class="layout__item u-2/12 u-6/12-lap text--center">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x twitter"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </div>
            </a>
            <a href="https://i.instagram.com/fincaelmolar/" title="Instagram">
              <div class="layout__item u-2/12 u-6/12-lap text--center">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x instagram"></i>
                  <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
              </div>
            </a>
            <a href="https://www.google.com/maps/dir//39.231615,-1.551773/@39.2316335,-1.5517605,184m/data=!3m1!1e3?hl=en-US" title="Location">
              <div class="layout__item u-2/12 u-6/12-lap text--center">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x marker"></i>
                  <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                </span>
              </div>
            </a>
          </div>
          <address class="mail mb">
            <a href="mailto: info@elmolarderus.com">
              <i class="fa fa-envelope"></i>
               info@elmolarderus.com
            </a>
          </address>
          <address class="tel">
            <a href="tel:+34647075371">
              <i class="fa fa-mobile"></i>
              +34 647 07 53 71
            </a>
          </address>
        </div>
      </div>
    </div>
  </div>
  <nav class="animated zoomIn">
    <ul class="layout layout--center">
      <li id="wines-link" class="layout__item u-5/12-lap-and-up pb-">
        <a data-pjax href="{{lg}}wines">
          <div class="menu__item   wines-link__bg">
            <div class="vertical--middle">
              <div class="text--center">
                <div class="menu__text">
                  <span class="">{{__ 'our wines'}}</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li id="ecological-link"  class="layout__item u-5/12-lap-and-up pb-">
        <a data-pjax href="{{lg}}organic-production">
          <div class="menu__item   ecological-link__bg">
            <div class="vertical--middle">
              <div class="text--center">
                <div class="menu__text">
                  <span class="">{{__ 'organic production'}}</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li id="tourism-link" class="layout__item u-5/12-lap-and-up u-palm-pb-">
        <a data-pjax href="{{lg}}tourism">
          <div class="menu__item   tourism-link__bg">
            <div class="vertical--middle">
              <div class="text--center">
                <div class="menu__text">
                  <span class="">{{__ 'roural tourism'}}</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li id="winery-link" class="layout__item u-4/12-lap-and-up u-palm-pb-">
        <a data-pjax href="{{lg}}winery">
          <div class="menu__item winery-link__bg">
            <div class="vertical--middle">
              <div class="text--center">
                <div class="menu__text">
                  <span class="">{{__ 'winery and wineyards'}}</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li id="about-link" class="layout__item u-3/12-lap-and-up u-palm-pb-">
        <a data-pjax href="{{lg}}about">
          <div class="menu__item about-link__bg">
            <div class="vertical--middle">
              <div class="text--center">
                <div class="menu__text">
                  <span class="">{{__ 'our history'}}</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </nav>
</div>
