<title>Finca El Molar | {{{__ 'roural tourism'}}}</title>
<div id="bg-tourism" class="bg--full-fixed"></div>
<section class="animated fadeIn" id="tourism">
{{> button_menu}}
  <div class="layout layout--center">
    <div class="animated bounceInDown layout__item mb+ u-11/12 u-7/12-lap-and-up text--center">
      <div class="section__intro">
        <h1 class="heading--big">{{{__ 'tourism heading'}}}</h1>
        <!--<h2 class="subheading">Ven a visitarnos!</h2>-->
        <h3 class="subheading--light">{{{__ 'tourism subheading-1'}}}</h3>
        <h3 class="subheading--light">{{{__ 'tourism subheading-2'}}}</h3>
      </div>
    </div>
    <div class="gallery mb+">
      <div class="animated zoomIn">
        <div class="layout__item u-12/12 u-4/12-lap-and-up text--center">
            <a href="/img/comedor--large.jpg" title="{{{__ 'tourism pic-1'}}}">
            <figure class="img--responsive cap-bot">
              <picture>
                <source srcset="/img/comedor--large.jpg" media="(min-width: 120em)">
                <source srcset="/img/comedor--medium.jpg" media="(min-width: 64em)">
                <source srcset="/img/comedor--small.jpg, img/comedor--large.jpg 2x" media="(max-width: 64em)">
                <img class="img--responsive" srcset="/img/comedor--medium.jpg" alt="…">
              </picture>
              <figcaption>
              <h2>{{{__ 'tourism pic-1'}}}</h2>
              </figcaption>
            </figure>
            </a>
        </div>
        <div class="layout__item u-12/12 u-4/12-lap-and-up text--center">
            <a href="/img/habitacion-double--large.jpg" title="{{{__ 'tourism pic-2'}}}">
            <figure class="img--responsive cap-bot">
              <picture>
                <source srcset="/img/habitacion-double--large.jpg" media="(min-width: 120em)">
                <source srcset="/img/habitacion-double--medium.jpg" media="(min-width: 64em)">
                <source srcset="/img/habitacion-double--small.jpg, img/habitacion-double--large.jpg 2x" media="(max-width: 64em)">
                <img class="img--responsive" srcset="/img/habitacion-double--medium.jpg" alt="…">
              </picture>

            <figcaption>
              <h2>{{{__ 'tourism pic-2'}}}</h2>
            </figcaption>
            </figure>
            </a>
        </div>
        <div class="layout__item u-12/12 u-4/12-lap-and-up text--center">
            <a href="/img/habitacion-single--large.jpg" title="{{{__ 'tourism pic-3'}}}">
            <figure class="img--responsive cap-bot">
              <picture>
                <source srcset="/img/habitacion-single--large.jpg" media="(min-width: 120em)">
                <source srcset="/img/habitacion-single--medium.jpg" media="(min-width: 64em)">
                <source srcset="/img/habitacion-single--small.jpg, img/habitacion-single--large.jpg 2x" media="(max-width: 64em)">
                <img class="img--responsive" srcset="/img/habitacion-single--medium.jpg" alt="…">
              </picture>
                <figcaption>
                  <h2>{{{__ 'tourism pic-3'}}}</h2>
                </figcaption>
            </figure>
            </a>
        </div>
        <div class="layout__item u-12/12 u-4/12-lap-and-up text--center">
            <a href="/img/bathroom--large.jpg" title="{{{__ 'tourism pic-4'}}}">
            <figure class="img--responsive cap-bot">
              <picture>
                <source srcset="/img/bathroom--large.jpg" media="(min-width: 120em)">
                <source srcset="/img/bathroom--medium.jpg" media="(min-width: 64em)">
                <source srcset="/img/bathroom--small.jpg, img/bathroom--large.jpg 2x" media="(max-width: 64em)">
                <img class="img--responsive" srcset="/img/bathroom--medium.jpg" alt="…">
              </picture>

            <figcaption>
            <h2>{{{__ 'tourism pic-4'}}}</h2>
            </figcaption>
            </figure>
            </a>
        </div>
        <div class="layout__item u-12/12 u-4/12-lap-and-up text--center">
            <a href="/img/salon--large.jpg" title="{{{__ 'tourism pic-5'}}}">
            <figure class="img--responsive cap-bot">
              <picture>
                <source srcset="/img/salon--large.jpg" media="(min-width: 120em)">
                <source srcset="/img/salon--medium.jpg" media="(min-width: 64em)">
                <source srcset="/img/salon--small.jpg, img/salon--large.jpg 2x" media="(max-width: 64em)">
                <img class="img--responsive" srcset="/img/salon--medium.jpg" alt="…">
              </picture>
            <figcaption>
            <h2>{{{__ 'tourism pic-5'}}}</h2>
            </figcaption>
            </figure>
            </a>
        </div>
        <div class="layout__item u-12/12 u-4/12-lap-and-up text--center">
            <a href="/img/cocina--large.jpg" title="{{{__ 'tourism pic-6'}}}">
            <figure class="img--responsive cap-bot">
              <picture>
                <source srcset="/img/cocina--large.jpg" media="(min-width: 120em)">
                <source srcset="/img/cocina--medium.jpg" media="(min-width: 64em)">
                <source srcset="/img/cocina--small.jpg, img/cocina--large.jpg 2x" media="(max-width: 64em)">
                <img class="img--responsive" srcset="/img/cocina--medium.jpg" alt="…">
              </picture>
            <figcaption>
            <h2>{{{__ 'tourism pic-6'}}}</h2>
            </figcaption>
            </figure>
            </a>
        </div>
        <div class="layout__item u-12/12 u-4/12-lap-and-up text--center">
            <a href="/img/entorno-ducks--large.jpg" title="{{{__ 'tourism pic-7'}}}">
            <figure class="img--responsive cap-bot">
              <picture>
                <source srcset="/img/entorno-ducks--large.jpg" media="(min-width: 120em)">
                <source srcset="/img/entorno-ducks--medium.jpg" media="(min-width: 64em)">
                <source srcset="/img/entorno-ducks--small.jpg, img/entorno-ducks--large.jpg 2x" media="(max-width: 64em)">
                <img class="img--responsive" srcset="/img/entorno-ducks--medium.jpg" alt="…">
              </picture>
            <figcaption>
            <h2>{{{__ 'tourism pic-7'}}}</h2>
            </figcaption>
            </figure>
            </a>
        </div>
        <div class="layout__item u-12/12 u-4/12-lap-and-up text--center">
            <a href="/img/entorno--large.jpg" title="{{{__ 'tourism pic-8'}}}">
            <figure class="img--responsive cap-bot">
              <picture>
                <source srcset="/img/entorno--large.jpg" media="(min-width: 120em)">
                <source srcset="/img/entorno--medium.jpg" media="(min-width: 64em)">
                <source srcset="/img/entorno--small.jpg, img/entorno--large.jpg 2x" media="(max-width: 64em)">
                <img class="img--responsive" srcset="/img/entorno--medium.jpg" alt="…">
              </picture>
            <figcaption>
            <h2>{{{__ 'tourism pic-8'}}}</h2>
            </figcaption>
            </figure>
            </a>
        </div>
        <div class="layout__item mb u-12/12 u-4/12-lap-and-up text--center">
            <a href="/img/animals--large.jpg" title="{{{__ 'tourism pic-9'}}}">
            <figure class="img--responsive cap-bot">
              <picture>
                <source srcset="/img/animals--large.jpg" media="(min-width: 120em)">
                <source srcset="/img/animals--medium.jpg" media="(min-width: 64em)">
                <source srcset="/img/animals--small.jpg, img/animals--large.jpg 2x" media="(max-width: 64em)">
                <img class="img--responsive" srcset="/img/animals--medium.jpg" alt="…">
              </picture>
            <figcaption>
            <h2>{{{__ 'tourism pic-9'}}}</h2>
            </figcaption>
            </figure>
            </a>
        </div>
      </div>
    </div>
    <div class="layout__item u-12/12 mb text--center logo-miembro">
      <img src="/img/AEEmiembro.png" alt="" />
    </div>
    <div class="layout__item u-10/12 mb++ text--center">
      <a href="{{{__ 'toprural link'}}}">
        <div class="btn btn--default mt+">{{{__ 'check availability'}}}</div>
      </a>
    </div>
    <!--<div class="layout__item mb+ u-11/12 u-3/12-lap-and-up text--center">
      <h3>El entorno</h3>
      <hr class="line gray" />
      <p>Está situada en una zona de gran belleza, entre Fuentealbilla y Abengibre, totalmente aislada del núcleo urbano. Al entrar a la finca te encuentras con El Galayo, el arroyo que atraviesa las montañas y las viñas. La tierra está llena de biodiversidad y otras plantas (pinos, pistachos, guisantes…) y animales (caballos, avestruces, cabras y burros).</p>
    </div>
    <div class="layout__item mb+ u-11/12 u-3/12-lap-and-up text--center">
      <h3>Actividades</h3>
      <hr class="line gray" />
      <p>El Molar es un lugar increíble para hacer senderismo y disfrutar de otras actividades al aire libre como caza, pesca y tiro al plato. Hay lugares de gran interés turístico en la zona, incluyendo Alcalá del Júcar, Jorquera y las Hoces del Cabriel.</p>
    </div>
    <div class="layout__item mb+ u-11/12 u-3/12-lap-and-up text--center">
      <h3>La manchuela</h3>
      <hr class="line gray" />
      <p>La Mesopotamia Manchega es una comarca entre Albacete y Cuenca, rodeada por los ríos Júcar y Cabriel. Llena de contrastes, seduce al viajero con su riqueza paisajística y cultural. Descubre la huella que dejaron en Iglesias, castillos y murallas las civilizaciones antiguas como Iberos Romanos y Árabes.</p>
    </div>-->
  </div>
</section>
<script type="text/javascript" charset="utf-8">
    $('.gallery').magnificPopup({
    delegate: 'a', // child items selector, by clicking on it popup will open
    gallery: {
      enabled: true
    },
    type: 'image'
  });
</script>
