<title>Finca El Molar | {{{__ 'winery and wineyards'}}}</title>
<div id="bg-winery" class="bg--full-fixed"></div>
<section class="animated fadeIn container" id="winery">
  <a data-pjax class="button--close" href="/">
    <i class="fa fa-home fa-2x"></i>
  </a>
  <div class="layout layout--center">
    <div class="animated bounceInDown layout__item mb+ u-8/12-lap-and-up text--center">
      <div class="section__intro">
        <h1 class="heading--big">{{{__ 'winery heading'}}}</h1>
        <!--<h2 class="subheading">Ven a visitarnos!</h2>-->
        <p class="font--light">{{{__ 'winery text-1'}}}</p>
        <p class="font--light">{{{__ 'winery text-2'}}}</p>
        <p class="font--light">{{{__ 'winery text-3'}}}</p>
      </div>
    </div>
  </div>

  <h2 class="subheading">{{{__ 'winery subheading'}}}</h2>
  <a href="#wine-process"><div class="text--center mb+"><i class="fa fa-arrow-circle-o-down fa-5x"></i></div></a>
  <div class="layout layout--center">
    <div class="animated zoomIn" id="wine-process">
      <div class="layout__item mb+ u-6/12-desk text--center">
        <div class="layout layout--center">
          <div class="layout__item u-4/12 u-4/12-lap u-3/12-desk text--center">
            <img class="img--responsive" src="img/maceracion.svg" alt="Sin quimicos" />
          </div>
          <div class="layout__item u-10/12-lap-and-up text--center">
            <h4 class="big">{{{__ 'winery proccess-1'}}}</h4>
        </div>
      </div>
    </div>
    <div class="layout__item mb+ u-6/12-desk text--center">
        <div class="layout layout--center">
          <div class="layout__item u-4/12 u-4/12-lap u-3/12-desk text--center">
            <img class="img--responsive" src="img/fermentacion.svg" alt="Sin quimicos" />
          </div>
          <div class="layout__item u-10/12-lap-and-up text--center">
            <h4 class="big">{{{__ 'winery proccess-2'}}}</h4>
        </div>
      </div>
    </div>
    <div class="layout__item mb+ u-6/12-desk text--center">
        <div class="layout layout--center">
          <div class="layout__item u-5/12 u-4/12-lap u-3/12-desk text--center">
            <img class="img--responsive" src="img/prensado.svg" alt="Sin quimicos" />
          </div>
          <div class="layout__item u-10/12-lap-and-up text--center">
            <h4 class="big">{{{__ 'winery proccess-3'}}}</h4>
        </div>
      </div>
    </div>
    <div class="layout__item mb+ u-6/12-desk text--center">
        <div class="layout layout--center">
          <div class="layout__item u-5/12 u-4/12-lap u-3/12-desk text--center">
            <img class="img--responsive" src="img/crianza.svg" alt="Sin quimicos" />
          </div>
          <div class="layout__item u-10/12-lap-and-up text--center">
            <p>{{{__ 'winery process-4.1'}}}</p>
            <h4 class="big">{{{__ 'winery proccess-4.2'}}}</h4>
        </div>
      </div>
    </div>

    </div>
  </div>
</section>
